@font-face {
  font-family: roboto-reg;
  src: url(./fonts/Roboto-Regular.ttf);
}
:root {
  --blue: #0067a7;
}
html {
  height: 100%;
}
body {
  display: flex;
  /* background: black; */
  flex-direction: column;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  > * {
    width: 100%;
    max-width: 1920px;
    font-family: roboto-reg;
    /* backdrop-filter: blur(5px); */
    border-radius: 100px;
  }
}
header nav {
  backdrop-filter: blur(5px);
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 20px;
  padding-left: 100px;
  /* background: rgb(0, 102, 167); */
  background: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 0px 2px 5px #0067a77d; */
  #nav-logo {
    color: white;
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    margin-right: auto;
  }
  .nav-button {
    padding: 10px 30px;
    border: 0px;
    font-size: 1.1rem;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  .nav-button:hover {
    /* background-color: #00446e51; */
    background-color: rgba(128, 128, 128, 0.3);
  }
}
#content {
  margin-top: 50px;
  /* max-width: 1920px; */
  > * {
    justify-content: space-around;
    display: flex;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
  }
  #banner {
    height: 450px;
    align-items: center;
    width: 100%;
    .image-card {
      height: 30vh;
      width: auto;
      display: flex;
      align-items: center;
      img {
        height: 80%;
        width: auto;
        /* border: 3px solid #0067a7; */
        border: 3px solid rgba(128, 128, 128, 0.3);
        /* box-shadow: 0px 0px 2px 5px #0067a77d; */
      }
    }
  }
  #alcolades {
    width: 100%;
    margin-top: 60px;
    /* background-color: rgb(192, 225, 253,0.5); */
    padding: 20px 0px;
    p {
      /* background-color: #0067a7; */
      padding: 30px;
      border-radius: 20px;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#content {
  #about {
    padding: 50px;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    img {
      height: 500px;
      width: auto;
      border: 5px solid rgba(128, 128, 128, 0.3);
    }
    p {
      padding: 10px;
      margin-top: 100px;
      font-size: 1.5rem;
      color: white;
      line-height: 1.5;
    }
  }
}

#content {
  color: white;
  .menu-header {
    font-size: 3rem;
  }
  #menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .menu-item {
      padding: 50px;
      position: relative;
      height: 400px;
      width: 400px;
      display: flex;
      flex-direction: column;
      .menu-item-image {
        padding: 10px;
        align-self: center;
        border: 2px solid rgba(128, 128, 128, 0.3);
        height: 200px;
        width: 200px;
        /* background: url(./images/menu/menu-item1.png); */
      }
      .menu-item-description {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        font-size: 1.5rem;
        * {
          margin: 5px 0px;
        }
        li:nth-child(1) {
          font-size: 1.6rem;
          align-self: center;
          margin: 10px 0px;
          border-bottom: 2px solid #ffffff7d;
        }
        li:nth-child(3) {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 2rem;
        }
      }
    }
    .menu-item:hover {
      background: rgba(128, 128, 128, 0.3);
    }
  }
}
