@font-face {
  font-family: roboto-reg;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: playwrite;
  src: url(./fonts/PlaywriteBEVLG-VariableFont_wght.ttf);
}
@font-face {
  font-family: brush;
  src: url(./fonts/CaveatBrush-Regular.ttf);
}
@font-face {
  font-family: indie-flower;
  src: url(./fonts/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: bangers;
  src: url(./fonts/Bangers-Regular.ttf);
}
:root {
  --blue: #0067a7;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./images/kitchen.jpg);
  background-size: cover;
   > * {
    width: 100%;
    max-width: 1920px;
    font-family: roboto-reg;
    backdrop-filter: blur(10px);
    border-radius: 100px;
  }

}
header nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 20px;
  padding-left: 100px;
  /* background: rgb(0, 102, 167); */
  background: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 0px 2px 5px #0067a77d; */
  #nav-logo {
    color: white;
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    margin-right: auto;
  }
  .nav-button {
    padding: 10px 30px;
    border: 0px;
    font-size: 1.1rem;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  .nav-button:hover {
    /* background-color: #00446e51; */
    background-color: rgba(128, 128, 128, 0.3);
  }
}
#content {
  margin-top:50px;
  /* max-width: 1920px; */
  #banner{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:450px;
    width:100%;
    background: rgba(0, 0, 0, 0.5);
    .image-card{
      height:30vh;
      width:auto;
      img{
        height:100%;
        width:auto;
        /* border: 3px solid #0067a7; */
        border: 3px solid rgba(128, 128, 128, 0.3);
        /* box-shadow: 0px 0px 2px 5px #0067a77d; */
      }
    }
  }
  #alcolades{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(192, 225, 253,0.5); */
    background-color: rgb(0, 0, 0,0.5);
    padding:20px 0px;
    p{
      /* background-color: #0067a7; */
      padding:30px;
      border-radius: 20px;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
}
