@font-face {
  font-family: roboto-reg;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: playwrite;
  src: url(./fonts/PlaywriteBEVLG-VariableFont_wght.ttf);
}
@font-face {
  font-family: brush;
  src: url(./fonts/CaveatBrush-Regular.ttf);
}

:root {
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0px;
  background-color: aliceblue;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 80% 80%;
  * {
    font-family: roboto-reg;
  }
}
header nav {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
  padding-left: 100px;
  border-radius: 20px;
  /* background-image: linear-gradient(320deg,rgba(239, 68, 68,0.8) 10%,rgba(239, 68, 68,0.4) 20%,rgba(239, 68, 68,0.6)27%,rgba(239, 68, 68,0.8) 32%); */
  /* backdrop-filter: blur(10px); */
  background-color: #0066a7;
  /* box-shadow: 0px 0px 50px 3px grey; */
  #nav-logo {
    color: white;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    margin-right: auto;
  }
  .nav-button {
    padding: 10px 30px;
    border: 0px;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
    /* background-color: #fef2f2; */
    background-color: rgba(0, 0, 0, 0);
    /* border: 2px solid #c2410c; */
  }
  .nav-button:hover {
    color: #ff6b82;
  }
}
#content {
  /* margin-top:10px; */
  #banner {
    padding:150px;
    padding-top:0px;
    display: flex;
    .img {
      background: url(./svg/Pizza.svg), linear-gradient(#e01935 50%,#0066a7 50%);
      background-size: cover;
      background-repeat: no-repeat;
      height: 300px;
      width:300px;
      transform: rotate(20deg);
      /* border: 5px double yellow; */
    }
    p{
      margin-left: auto;
      align-self: flex-end;
      font-family: brush;
      font-size:3.5rem;
      color: #0066a7;
      em{
        font-family: brush;
        border-bottom: 3px solid #0066a7;
      }

    }
  }
}
